streamlit
pandas
numpy
scikit-learn
xgboost
shap
sentence-transformers
openai
python-dotenv
chromadb==0.4.24
opentelemetry-api==1.23.0
opentelemetry-sdk==1.23.0
anthropic
folium
streamlit-folium
plotly
requests
